<div class="login-form">
    <div class="container">
        <div class="login-form-header">
            Add user
        </div>
        <div class="login-form-content">
            <input type="text" placeholder="Name" [(ngModel)]="loginRequest.name">
            <input type="text" placeholder="Surname" [(ngModel)]="loginRequest.surname">
            <input type="text" placeholder="Title" [(ngModel)]="loginRequest.title">

            <button (click)="login()">Save</button>
        </div>
    </div>
</div>